<section>
    <h2 data-bind="html: displayName"></h2>
    <div class="row-fluid">

        <label>First Name</label>
        <input type="text" id="firstName"/> <br/>
        <label>Last Name</label>
        <input type="text" id="lastName" /> <br />
        <label>Email</label>
        <input type="text" id="email" /> <br />
        <label>Comments</label>
        <input type="text" id="comments" /> <br />

        <button type="submit" class="btn" id="save">Save</button>
    </div>

   
</section>